@charset "UTF-8";
/* CSS Document */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
	1.1 - Headings
	1.2 - Body Copy
	1.3 - Buttons
	1.4 - Forms
	1.5 - Lists
	1.6 - Tables
2.0 - Navigation Menus
	3.1 - Main Menu
	3.2 - Sub Menu
	3.3 - Footer Menu
3.0 - Content
	3.1 - Site Structure (Site Header, Advertisement, Site Footer)
	3.2 - Section Name
	3.3 - Section Name
4.0 - Media
5.0 - Utility
	5.1 - Background Colors
	5.2 - Text Colors
	5.3 - Text Sizes
	5.4 - Alignments
--------------------------------------------------------------*/


/*--------------------------------------------------------------
1.0 - TYPOGRAPHY
-------------------------------------------------------------- */
* {
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 1px;
}

header ul a {
	font-size: 10pt;
	font-weight: 100;
}

#header-bg div p {
	margin: 0 auto;
	text-align: center;
	position: relative;
	left: 0;
	top: 375px;
	color: #fff;
}

#header-bg div p:first-child {
	font-size:40px;
}

#header-bg div p:last-child {
	font-size:20px;
}

table {
	font-size: 12px;
}

header ul a, #header-bg div p, #blue-bg p a, h3, #hot p a, table tr td a {
	text-transform: uppercase;
}

/*--------------------------------------------------------------
1.1 - Headings
-------------------------------------------------------------- */
h2 {
	font-size: 20pt;
	font-weight: 100;
	display: inline-block;
}

#blue-bg header {
	display: inline-block;
}


/*--------------------------------------------------------------
1.2 - Body Copy
-------------------------------------------------------------- */
li a, p a, table tr td a {
	text-decoration: none;
}


/*--------------------------------------------------------------
1.3 - Buttons
-------------------------------------------------------------- */
header ul a {
	color: #fff;
	background-color: #ff8261;
	padding: 15px; /* set to 22px get rid of white space between buttons*/
	margin: 0;
}

#blue-bg p a  {
	background-color: #ff8261;
	color: #fff;
	padding: 20px 70px;
}

#hot p a {
	padding: 20px 60px;
}

#hosting .col p:last-child a {
	padding: 16px 30px;
}

#hot p a, table tr:last-child td a, table tr:first-child td a:hover {
	background-color: #ff8261;
}

#hot p a, table tr td a {
	color: #fff;
}

header ul a:hover, #blue-bg p a:hover, #hot p a:hover, table tr:last-child td a:hover, table tr:first-child td a {
	background-color: #52cbf8;
}

/*--------------------------------------------------------------
1.5 - Lists
-------------------------------------------------------------- */

header ul, #hosting ul {
	list-style: none;
}

header ul li {
	display: inline-block;
}

#hot ul li {
}

/*--------------------------------------------------------------
1.6 - Tables
-------------------------------------------------------------- */
caption {
	display: none;
}

table {
	border: 1pt solid #e1eff4;
}

table tr:nth-child(2) td, table tr:nth-child(3) td, table tr:nth-child(4) td, table tr:nth-child(5) td {
	border-bottom: 1pt solid #e1eff4;
}

/*--------------------------------------------------------------
5.1 - Background Colors
-------------------------------------------------------------- */
#header-bg {
	background: url("../img/header-bg.png") no-repeat;
	height: 570px;
} 

#blue-bg {
	background-color: #e4eff7;
}

#hot {
	background-color: #fffbde;
}

/*--------------------------------------------------------------
5.2 - Text Colors
-------------------------------------------------------------- */
h3, table {
	color: #556b72;
}


/*--------------------------------------------------------------
5.4 - Alignments
-------------------------------------------------------------- */
.wrapper {
	margin: 0 auto;
	width: 1140px;
}

.row {
	overflow: auto;
}

header .wrapper:first-child div:first-child {
	float: left;
}

header .wrapper:first-child div:nth-child(2) {
	float: right;
}

header .wrapper:first-child div:nth-child(2) p {
	display: inline-block;
}

#benefits .col p {
	color: #a0a9b6;
	line-height: 30px;
}

#benefits .col {
	width: 325px;
	float: left;
}

#benefits .col:nth-child(2), #benefits .col:nth-child(3) {
	margin-left: 45px;
}

#benefits, #hot, #hosting div .row {
	padding: 90px 0;
}

#hot .col:first-child header {
	display: inline-block;
}

#hot ul {
	float: left;
	display: inline-block;
	line-height: 40px;
}

#blue-bg p a, #hot p a {
	float: right;
}

#hosting div .col {
	display: inline-block;
	border: 1pt solid #e1eff4;
}

#hosting div {
	margin: 30px 10px;
	padding: 20px 10px;
}


table {
	float: left;
	display: inline-block;
}

table tr td {
	text-align: center;
}

table tr td a {
	padding: 15px 30px;
	margin: 60px;
}

table tr:first-child td a {
	padding: 15px 20px;
}

table tr td a {
	padding: 15px 30px;
}

table tr {
	height: 50px;
	width: 30px;
}

