@charset "UTF-8";
/* CSS Document */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
	1.1 - Headings
	1.2 - Body Copy
	1.3 - Buttons
	1.4 - Forms
	1.5 - Lists
	1.6 - Tables
2.0 - Navigation Menus
	3.1 - Main Menu
	3.2 - Sub Menu
	3.3 - Footer Menu
3.0 - Content
	3.1 - Site Structure (Site Header, Advertisement, Site Footer)
	3.2 - Section Name
	3.3 - Section Name
4.0 - Media
5.0 - Utility
	5.1 - Background Colors
	5.2 - Text Colors
	5.3 - Text Sizes
	5.4 - Alignments
--------------------------------------------------------------*/


/*--------------------------------------------------------------
1.0 - TYPOGRAPHY
-------------------------------------------------------------- */
* {
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 1px;
}

header ul a {
	font-size: 10pt;
	font-weight: 100;
}

h1 {
	margin: 0 auto;
	text-align: center;
	left: 0;
	color: #fff;
	padding-top: 375px;
}

table {
	font-size: 12px;
}

nav a, #header-bg div p, .blue-bg p a, h3, #hot p a, table tr td a, label, footer header, h1 {
	text-transform: uppercase;
}

/*--------------------------------------------------------------
1.1 - Headings
-------------------------------------------------------------- */

.blue-bg header {
	display: inline-block;
}

body > header:first-of-type {
	padding-top: 50px;
}

/*--------------------------------------------------------------
1.2 - Body Copy
-------------------------------------------------------------- */
li a, p a, table tr td a {
	text-decoration: none;
}


/*--------------------------------------------------------------
1.3 - Buttons
-------------------------------------------------------------- */
nav a {
	color: #fff;
	background-color: #ff8261;
	padding: 15px 20px; /* set to 22px. get rid of white space between buttons*/
	margin: 0 auto; 
}

.blue-bg p a  {
	background-color: #ff8261;
	color: #fff;
	padding: 20px 70px;
}

#hot p a, label {
	padding: 20px 60px;
}

#hosting .col p:last-child a {
	padding: 16px 30px;
}

#hot p a, table tr:last-child td a, table tfoot tr:first-child td a, label, header nav ul {
	background-color: #ff8261;
}

header nav ul {
	margin: 0;
	padding: 14px 0;
}

#hot p a, table tr td a, label {
	color: #fff;
}

nav a:hover, .blue-bg p a:hover, #hot p a:hover, table tr:last-child td a:hover, table tr:first-child td a:hover, label:hover {
	background-color: #52cbf8;
}

/*--------------------------------------------------------------
1.4 - Forms
-------------------------------------------------------------- */
.blue-bg > input {
	width: 715px;
	height: 50px;
}

textarea {
	width: 430px;
	height: 53px;
	display: inline-block;
}

label {
	display: none;
}

input {
	width: 165px;
	height: 53px;
}

/*--------------------------------------------------------------
1.5 - Lists
-------------------------------------------------------------- */

nav, #hosting ul, footer div li {
	list-style: none;
}

header ul li {
	display: inline-block;
}

header div > ul {
	float: right;
}


/*--------------------------------------------------------------
1.6 - Tables
-------------------------------------------------------------- */
caption {
	display: none;
}

table {
	border: 1pt solid #e1eff4;
}

table tr:nth-child(2) td {
	border-top: 1pt solid #e1eff4;
}

table tr:nth-child(2) td, table tr:nth-child(3) td, table tr:nth-child(4) td {
	border-bottom: 1pt solid #e1eff4;
}

/*--------------------------------------------------------------
5.1 - Background Colors
-------------------------------------------------------------- */
#header-bg {
	background: url("../img/header-bg.jpg") no-repeat;
	-o-background-size: cover; 
	-ms-background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;/*add prefixes */
	height: 570px;
} 

.blue-bg {
	background-color: #e4eff7;
	padding: 50px 0;
}

#hot {
	background-color: #fffbde;
}

footer {
	background-color: #4c515b;
}

/*--------------------------------------------------------------
5.2 - Text Colors
-------------------------------------------------------------- */
h3, table, h2 {
	color: #556b72;
}

footer li a, footer p, span {
	color: #909aad;
}


/*--------------------------------------------------------------
5.4 - Alignments
-------------------------------------------------------------- */
.wrapper {
	margin: 0 auto;
	width: 1140px;
}

.row {
	overflow: auto;
}

header .wrapper:first-child div:first-child {
	float: left;
}

header .wrapper:first-child div:nth-child(2) {
	float: right;
}

header .wrapper:first-child div:nth-child(2) p {
	display: inline-block;
}

#benefits .col p, header div > ul a {
	color: #a0a9b6;
}

#benefits .col p {
	line-height: 30px;
}

#benefits .col {
	width: 325px;
	float: left;
}

#benefits .col:nth-child(2), #benefits .col:nth-child(3) {
	margin-left: 45px;
}

#benefits, #hot, #hosting, .blue-bg:last-of-type {
	padding: 90px 0;
}

#hot .col:first-child header {
	display: inline-block;
}

#hot ul {
	float: left;
	display: inline-block;
	line-height: 40px;
}

.blue-bg:first-of-type p a, #hot p a {
	float: right;
}

#hosting div .col {
	display: inline-block;
	border: 1pt solid #e1eff4;
}

#hosting div {
	margin: 30px 10px;
	padding: 20px 10px;
}


table {
	float: left;
	display: inline-block;
}

table tr td {
	text-align: center;
}

table tr td a {
	padding: 15px 30px;
	margin: 60px;
}

table tr:first-child td a {
	padding: 15px 20px;
}

table tr td a {
	padding: 15px 30px;
}

table tr {
	height: 50px;
	width: 30px;
}

footer {
	padding: 100px 0;
	font-size: 12px;
}

footer .row div {
	float: left;
}

footer .wrapper div:first-of-type {
	margin-top: 100px;
}

footer header, footer li a:hover, footer div:nth-child(3) li {
	color: #e7f4f8;
}

footer div ul, footer div ul:nth-child(2) {
	padding: 0;
}

footer div ul li {
	margin-bottom: 20px;
}

footer div ul {
	float: left;
}

footer div ul:nth-child(3) {
	margin-left: 65px;
}

footer .wrapper div:nth-child(2), footer .wrapper div:nth-child(3), footer .wrapper div:nth-child(4) {
	margin-left: 110px;
}

h4,  header div > ul {
	margin-top: 0;
}

header div > ul a:hover {
	color: #000;
}

header img {
	margin-bottom: 50px;
}

nav ul {
	padding: 0;
	text-align: center; 
}

footer div > p {
	margin: 5px 0 5px 60px;
}

#benefits div .row:last-child .col:first-child img {
	display: inline-block;
}

#benefits div img {
	float: left;
	display: inline-block;
	margin-right: 25px;
}

#hot .wrapper .col:first-child {
	display: inline-block;
}

#hot .wrapper .col:last-child {
	float: right;
	display: inline-block;
}

#benefits img {
	display: block;
}


